:root {
  --main-bg-color: rgb(255, 255, 255);
  --mainfont: Roboto;
  --scndfont: Raleway;
  --actcolor: #2196f3;
}
.header-bg {
  background-color: var(--main-bg-color);
}
a:hover {
  color: var(--actcolor);
}
a:focus {
  color: var(--actcolor);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.flexbox {
  display: flex;
}
.header-bg .flexbox {
  align-items: center;
  justify-content: flex-end;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.webstudio {
  font-family: var(--scndfont);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  color: #212121;
  margin-right: 93px;
}
.web-blue {
  color: var(--actcolor);
}
.header-ul-style {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  display: inline-flex;
}
.header-ul-style-mr {
  margin-right: 50px;
}
.header-contacts {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  display: inline-flex;
}
.header-contacts-mr {
  margin-right: 50px;
}
.main-up {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
.h1-class {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.top-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}
.h2-class {
  display: none;
}
.four-peq {
  margin: 0px 0px 94px 0px;
}
.four-peq-h3 {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.four-peq-text {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.h2-chem {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.chem-ul {
  padding: auto;
  margin: auto;
}
.team-h2 {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-h3 {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.team-text {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
footer {
  background: #2f303a;
}
.webstudio-footer {
  font-family: var(--scndfont);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}
.footer-text {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
.h1-portfolio {
  opacity: 0;
}
.button-portfolio {
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #212121;
}
.button-portfolio:hover {
  background: var(--actcolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--mainfont);
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}
